html, body, p {
    background-color: #ffe800;
}

h1, h2, h3, h4, h5, h6 {
    font-family: PirataOne;
}

h1 {
    font-size: 76px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

img {
    border-width: 2px;
    border-color: black;
    border-style: solid;
}