<p>
    <table>
        <tr>
            <th>NAME</th>
            <td colspan="3">{{name}}</td>
        </tr>
        <tr>
            <th>ARMOUR</th>
            <td colspan="3">{{armour}}</td>
        </tr>
        <tr>
            <th>HP</th>
            <td>{{hp}}</td>
            <th>MORALE</th>
            <td>{{morale}}</td>
        </tr>
        <tr>
            <th>DAMAGE</th>
            <td colspan="3">{{damage}}</td>
        </tr>
        <tr>
            <td colspan="4"><pre>{{body}}</pre></td>
        </tr>
    </table>
</p>